<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <config>
	<add key="repositoryPath" value="packages" />
  </config>
  
  <packageSources>
         <add key="HOPEX" value="https://megainternational.pkgs.visualstudio.com/_packaging/hopex-microservices/nuget/v3/index.json" />
  </packageSources>
</configuration>